<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Application">
            <directory suffix="Test.php">./engine/Application/</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory suffix="Test.php">./modules/Domain/</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./src/Infrastructure/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="950M"/>
    </php>
</phpunit>
