<?php

$mysqlUrl = getenv('MYSQL_URL');
$mysqlDatabase = getenv('MYSQL_DATABASE');
$mysqlUser = getenv('MYSQL_USER');
$mysqlPassword = getenv('MYSQL_PASSWORD');

return
[
    'paths' => [
        'migrations' => '%%PHINX_CONFIG_DIR%%/migrations',
        'seeds' => '%%PHINX_CONFIG_DIR%%/seeds'
    ],
    'environments' => [
        'default_migration_table' => 'phinxlog',
        'default_environment' => 'development',
        'production' => [
            'adapter' => 'mysql',
            'host' => $mysqlUrl,
            'name' => $mysqlDatabase,
            'user' => $mysqlUser,
            'pass' => $mysqlPassword,
            'port' => 3306,
            'charset' => 'utf8',
        ],
        'development' => [
            'adapter' => 'mysql',
            'host' => $mysqlUrl,
            'name' => $mysqlDatabase,
            'user' => $mysqlUser,
            'pass' => $mysqlPassword,
            'port' => 3306,
            'charset' => 'utf8',
        ],
        'testing' => [
            'adapter' => 'mysql',
            'host' => $mysqlUrl,
            'name' => $mysqlDatabase,
            'user' => $mysqlUser,
            'pass' => $mysqlPassword,
            'port' => 3306,
            'charset' => 'utf8',
        ]
    ],
    'version_order' => 'creation'
];
